<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlServerName" value="DESKTOP-P2BUSO1\SQLEXPRESS"/>
    <add key="SqlDatabaseName" value="JBAPrecipitation"/>
    <add key="SqlSchemaName" value="dbo"/>
    <add key="SqlTableName" value="Data"/>
    <add key="FilePath" value="C:\Users\garne\OneDrive\Career\Applications\JBA\cru-ts-2-10.1991-2000-cutdown.pre"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>