<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlServerName" value="DESKTOP-ADJF6KA\GARNERSQL_DEV"/>
    <add key="SqlDatabaseName" value="JBAPrecipitation"/>
    <add key="SqlSchemaName" value="dbo"/>
    <add key="SqlTableName" value="Data"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>